<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Méteo pour {{city.name}}</title>
</head>
<body>
    <div class="container">
        <a href="/">Retour</a>
            <h1>Méteo pour {{city.name}}</h1>
            <h2>Prévision météo pour aujourd'hui</h2>
            <p> (mise à jour à {{ weather.updatedAt|date('H:i') }} le {{ weather.updatedAt|date('d/m/Y') }})</p>
            <div class="weather-forecasts">
                {% for forecast in weather.forecasts %}
                    <div class="hourly-forecast">
                        <h3>{{ forecast.time|date('H:i') }}</h3>
                        <p>Température: {{ forecast.temperature }}°C</p>
                        <p>Conditions météorologiques: <img src="/icons/weather/svg/{{ forecast.conditions }}.svg" alt="" class="weather-icon"></p>
                        <p>Précipitations: {{ forecast.precipitation }} mm</p>
                        <p>Vent: {{ forecast.wind_speed }} m/s, Direction: {{ forecast.wind_direction }}°</p>
                        <p>Humidité: {{ forecast.humidity }}%</p>
                        <p>Pression atmosphérique: {{ forecast.pressure }} hPa</p>
                    </div>
                {% endfor %}
            </div>
    </div>
</body>
</html>